<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Privacy Policy</h5>
                <p>We value your privacy and protect your personal information. Read our full policy to learn more.</p>
                <a href="/privacy" class="btn btn-outline-light">Read Privacy Policy</a>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: support@computerrec.com</p>
                <p>Phone: (555) 123-4567</p>
                <p>Address: 123 Tech Street, Silicon Valley, CA 94000</p>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="https://facebook.com/computerrec" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/computerrec" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com/computerrec" class="text-white me-2"><i class="fab fa-instagram"></i></a>
                <a href="https://linkedin.com/company/computerrec" class="text-white"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <hr class="mt-4 mb-3">
        <p class="text-center">&copy; 2023 Computer Recommendation System. All rights reserved.</p>
    </div>
</footer>
